@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body {
    font-family: "Titillium Web", sans-serif !important;;
  }
.box{
    justify-content: center;
    text-align: center;

}
.img1{
    border-radius: 20rem;
}

.card1{
    max-height: 100px;
}

.main-banner {
    background-image: url(assets/Images/hero\ bg.jpg);
    border-radius: 0px 0px 50px 50px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 225px 0px;
  }

.highlights{
    margin-top: -80px;
}
.noto-sans-container {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.news {
    background-color: rgb(237, 250, 255);
    border-radius: 50px 50px 50px 50px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;
  }
.main-banner button:hover { background-color: #f0ed45 !important; }
nav.navbar li:hover a {
    background-color: rgba(118, 118, 118, 0.1);
  }

nav.navbar li a {
    border-radius: 12px 12px 12px 12px;
  }

.profileImg{
    border-radius: 100%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}
.news{
    padding: 200px 0px;
}
.testimonial{
    margin-top: -250px;
}